{% extends "back_end/base.html.twig" %}
{% block title %}Modifier la page d'accueil{% endblock %}
{% block contenu %}
{{ form_start(form)}}

<div class="row">
    <h5 class=" m-auto col-8"><i class="fa fa-globe"></i>  Modification page d'accueil   </h5>
    <div class="col-4 text-right pr-5">
        <button type="submit" class="btn btn-enregistrer"><i class="fas fa-save"></i> Enregistrer </a>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-10 text-center">    
                
            <div class="row form-group text-right">
                {{ form_label(form.titre, 'Titre de la page', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="input-group col-sm-10">
                    {{ form_widget(form.titre) }}
                </div>
            </div>
            {% for type in form.meta %}
            <div class="row form-group text-right">
               {{ form_label(type, null , {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="input-group col-sm-10">
                    {{ form_widget(type) }}
                </div>
            </div>
            {% endfor %}
            <div class="row form-group text-right">
                {{ form_label(form.images, 'Image accueil', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="input-group col-sm-10">
                    {{ form_widget(form.images) }}
                </div>
            </div>
            <ul class="sticky-toolbar">
                <li class="toolbar-items">
                    <button type="submit" class="btn btn-enregistrer"><i class="fas fa-save"></i> </a>
                </li>
            </ul>
        {{ form_end(form, {'render_rest': false})}}
    </div>
</div>
{% endblock %}


