<style>
    .modal{
        margin: 35px;
        max-width: 1100px;
        overflow: auto;

    } 
</style>

<div class="row fermer">
    <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i> Expéditions</h5>
</div>

<div class="alert alert-success" id="suivi-success-alert" style="display:none"> Suivi ajouter</div>
<div class="alert alert-danger" id="suivi-error-alert" style="display:none"> Erreur suivi</div>

<div class="alert alert-success" id="success-alert" style="display:none"> Commande ajouter</div>
<div class="alert alert-danger" id="error-alert" style="display:none"> Commande inexistante ou déjà ajouter(Penser à vérifier si la commande n'est pas livrer par coursier)</div>
<div class="row mt-5 ">
    <div class="col-12">
        {{ form_start(formAjout, {'attr': {'id': 'ajout'}}) }}
            <div class="row">
                <div class="col-6 p-0">
                    {{ form_widget(formAjout.reference) }}
                </div>
                <div class="col-6">
                    <button type="submit" id="send" class="btn btn-enregistrer"><i class="fas fa-save"></i> Enregistrer </button>
                </div>
            </div>
        {{ form_end(formAjout)}}        
    </div>
    <div class="col-12">
        <a href="#" id="suivi" class="btn float-right btn-enregistrer"><i class="fas fa-save"></i> Ajouter le(s) suivi </a>
        <div class="row mt-5">
            <div class="col-12 mt-5">
                <table class="table table-bordered table-hover" id="mytable">
                    <tbody>
                        {% for expedition in expeditions %}
                            <tr>
                                <td>
                                    Réference: <strong>{{expedition.demande.reference}}</strong><br/>
                                    <strong>{{expedition.demande.client.email}}</strong>
                                </td>
                                <td>
                                    {{expedition.demande.transport.titre}}
                                </td>
                                <td>
                                    <input type="text" id="{{expedition.id}}" name="suivi" placeholder="Numéro de suivi" value="{{expedition.suivi}}" class="form-control">
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                
            </div> 
        </div>

 
    </div> 
</div>

<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

<script>

    function RefreshTable() {
        $( ".modal" ).load( `${Routing.generate('expedition_visa_classic')}` );
    };


    $('#ajout').submit(function(e) {
        e.preventDefault();
        var url = "{{path('expedition_visa_classic')}}";
        var formSerialize = $(this).serialize();

        var post = $.post(url, formSerialize, function(response) {
        }, 'JSON');

        post.done(function() {
            $("#success-alert").show();
            setTimeout(function() { $("#success-alert").hide(); }, 5000);
            RefreshTable()           
        })
        post.fail(function() {
            $("#error-alert").show();
            setTimeout(function() { $("#error-alert").hide(); }, 5000);
        })
    })

    $(function() {
        var allSuivi = $('input[name=suivi]');
    
        var submitSuivi = $('#suivi');
        submitSuivi.on('click', function() {
            console.log('test')
            data = [];
            allSuivi.each(function() {
                if($(this).val()) {
                    var post = $.post( Routing.generate('suivi_expedition_visa_classic'), { suivi : $(this).val(), id : $(this).attr('id') }, function(){
                    });
                    post.done(function() {
                        $("#suivi-success-alert").show();
                        setTimeout(function() { $("#suivi-success-alert").hide(); }, 8000);
                        RefreshTable()
                    });
                    post.fail(function() {
                        $("#suivi-error-alert").show();
                        setTimeout(function() { $("#suivi-error-alert").hide(); }, 8000);
                    });
                }
            })

            
        });
    
    });
</script>

    
