  <style>
    .modal{
        margin: 35px;
        max-width: 1100px;
        overflow: auto;

    } 
</style>

    {{ form_start(form, {'action': path('add_course', {'id': id}), 'method': 'POST'})}}

    <div class="row">
        <h5 class=" m-auto col-5"><i class="fa fa-globe"></i>  Ajouter une note de course   </h5>
    </div>


    <div class="row justify-content-center mt-5">
        <div class="col-10 text-center">    
                    

                <div class="row form-group text-right">
                    <label for="mail_coursier" class="col-sm-2 col-form-label">Adresser un mail au coursier</label>
                    <div class="input-group col-sm-1">
                        <input type="checkbox" id="mail_coursier" name="mail_coursier" value="1" checked="checked" class="form-control check">
                    </div>

                    <label for="mail_client" class="col-sm-2 col-form-label">Adresser un mail au client</label>
                    <div class="input-group col-sm-1">
                        <input type="checkbox" id="mail_client" name="mail_client" value="1" checked="checked" class="form-control check">
                    </div>
                </div>
                <div class="row form-group text-right">
                    {{ form_label(form.nom, 'Nom', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="input-group col-sm-10">
                        {{ form_widget(form.nom) }}
                    </div>
                </div>
                <div class="row form-group text-right">
                    {{ form_label(form.prenom, 'Prénom', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="input-group col-sm-10">
                        {{ form_widget(form.prenom) }}
                    </div>
                </div>
                <div class="row form-group text-right">
                    {{ form_label(form.dateEnlevement, 'Date de livraison/enlèvement', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="input-group col-sm-10">
                        {{ form_widget(form.dateEnlevement) }}
                    </div>
                </div>
                <div class="row form-group text-right">
                    {{ form_label(form.adresse, 'Adresse', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="input-group col-sm-10">
                        {{ form_widget(form.adresse) }}
                    </div>
                </div>
                <div class="row form-group text-right">
                    {{ form_label(form.codePostal, 'Code postal', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="input-group col-sm-10">
                        {{ form_widget(form.codePostal) }}
                    </div>
                </div>
                <div class="row form-group text-right">
                    {{ form_label(form.ville, 'Ville', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="input-group col-sm-10">
                        {{ form_widget(form.ville) }}
                    </div>
                </div>
                <div class="row form-group text-right mb-5">
                    {{ form_label(form.coursier, 'Coursier', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="input-group col-sm-10">
                        {{ form_widget(form.coursier) }}
                    </div>
                </div>
                <div class="row form-group text-right mb-5">
                    {{ form_label(form.livraison, 'Livraison', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="input-group col-sm-1">
                        {{ form_widget(form.livraison) }}
                    </div>
                </div>
                <div class="row form-group text-right mb-5">
                    {{ form_label(form.enlevement, 'Livraison', {'label_attr' : {'class': 'col-sm-2 col-form-label'}}) }}
                    <div class="input-group col-sm-1">
                        {{ form_widget(form.enlevement) }}
                    </div>
                </div>
                {{ form_row(form.submit)}}

                {{form_widget(form._token)}}
            {{ form_end(form, {'render_rest': false})}}
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="/moment/moment.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
            <script type="text/javascript">
                $(function () {
                    $('.js-datepicker').datetimepicker({
                        locale: 'ru'
                    });
                });
            </script>

