{% extends "back_end/base.html.twig" %}

{% block contenu %}

    <div class="row">
        <h5 class=" m-auto col-5"><i class="fa fa-users-cog"></i>Liste des catégories visa - Visas classiques / {{ visaClassic.pays.titre }}</h5>
        <div class="col-7 text-right pr-5">
            <a href="{{path('show_pays_visa_classic')}}" class="btn btn-retour"><i class="fas fa-chevron-left"></i> Retour à la liste des pays </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table data-toggle="table" data-url="{{ path('json_categorie_visa_classic', {id: visaClassic.id} )}}" data-pagination="true" data-search="true" data-pagination: "true">
                <thead>
                    <tr>
                        <th data-field="categorieVisa.titre" data-sortable="true">Catégorie</th>
                        <th data-field="edit" data-formatter="actionsFormatter">Editer</th>
                    </tr>
                </thead>
            </table>
        </div> 
    </div>
    <ul class="sticky-toolbar">
        <li class="toolbar-items">
            <a href="{{path('show_pays_visa_classic')}}" class="btn btn-retour"><i class="fas fa-chevron-left"></i> </a>
        </li>
    </ul>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        function actionsFormatter(value, row, index){
            return '<a href="'+Routing.generate('show_listes_doccuments_categorie_visa_classic', {'id' : row["categorieVisa"]["id"]})+'" title="Modifier"><i class="far fa-edit"></i> Gestion des listes de documents </a>'+
                    '<a href="'+Routing.generate('show_formulaire_visa_type', {'id' :  row["categorieVisa"]["id"]})+'" title="Modifier"><i class="far fa-edit"></i> Gestion des formulaires </a>';
        }

        function booleanFormatter(value, row, index) {
            if (value === true) {
                return '<i class="fa fa-check text-success text-center"></i>';
            }
            else {
                return '<i class="fa fa-times text-danger text-center"></i>';
            }
        }

        // function libelleFormatter(value, row,index){
        //     libelleZone = "";
        //     if (row["pays"]["zoneGeographique"]){
        //         return row["pays"]["titre"] + "<br /><small>" + row["pays"]["zoneGeographique"]["titre"] + "</small>";
        //     }
        //     return row["pays"]["titre"];
        // }

        
    </script>
    
{% endblock %}