<style>
    .modal{
        margin: 35px;
        max-width: 1100px;
        overflow: auto;

    } 
</style>

<div class="row">
    <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i>Réception dossier</h5>
</div>

<div class="row">
    <div class="col-12">
        {% form_theme form '/back_end/jquery.collection.html.twig' %}
        {{ form_start(form, {'action': path('incomplet_visa_classic', {'id': id}), 'method': 'POST'}) }}
            {% for doccument in form.etatDossier %}
                <div class="row align-items-center">
                    {{ form_widget(doccument.nom)}}
                    {{ form_widget(doccument.manquant)}}
                    {{ form_label(doccument.manquant)}}
                    {{ form_widget(doccument.nonConforme)}}
                    {{ form_label(doccument.nonConforme)}}
                </div>
            {% endfor %}
        {{ form_end(form)}}
    </div> 
</div>

<script type="text/javascript" src="{{ asset('backend/js/jquery.collection.js') }}"></script>
<script type="text/javascript">
    $('.my-selector').collection({
        add_at_the_end: true
    });
</script>
    
