{% extends "back_end/base.html.twig" %}

{% block menu_header %}
    {% include "back_end/visa_classic/__header.html.twig" %}
{% endblock %}


{% block contenu %}

    <div class="row">
        <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i> Gestion des volets d'informations - Visas classiques / {{visa_classic.pays.titre}} </h5>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            {{ form_start(form)}}
            <div class="row mt-4 justify-content-center">
                {{ form_widget(form.titre)}}
                <button type="submit" class="btn btn-success btn-elevate btn-enregistrer2 col-5 ml-1">
                    <i class="fa fa-save"></i> Ajouter un volet d'information
                </button>
            </div>
            {{ form_end(form)}}
            <table data-toggle="table" data-url="{{ path('json_volet_infos_visa_classic', {id: visa_classic.id} )}}" data-pagination="true" data-search="true" data-pagination: "true" data-card-view="true" data-show-header="false" class="table-bordered">
                <thead>
                    <tr>
                        <th data-field="titre" data-sortable="true">Titre</th>
                        <th data-field="contenu" data-sortable="true">Contenu</th>
                        <th data-field="edite"data-formatter="actionsFormatter">Modifier</th>
                    </tr>
                </thead>
            </table>
        </div> 
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        function actionsFormatter(value, row, index){
            return '<a href="'+Routing.generate('edit_volet_infos_visa_classic', {'id' : row.id})+'" title="Modifier" rel="modal:open"><i class="far fa-edit"> Editer </i></a>'+
                    '<a href="'+Routing.generate('del_volet_infos_visa_classic', {'id' : row.id})+'" title="Supprimer""><i class="far fa-trash-alt"></i> Supprimer </a>';
        }
        

        // function libelleFormatter(value, row,index){
        //     libelleZone = "";
        //     if (row["pays"]["zoneGeographique"]){
        //         return row["pays"]["titre"] + "<br /><small>" + row["pays"]["zoneGeographique"]["titre"] + "</small>";
        //     }
        //     return row["pays"]["titre"];
        // }

        
    </script>
    
{% endblock %}