{% extends "front_end/emails/base.html.twig" %}
{% block email_title %}Modification de connexion{% endblock %}
{% block email_body %}
	<table style="border-collapse: collapse;" width="600" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<p>
					Bonjour {{ client.prenom }} {{ client.nom }},
				</p>
				<p>
					Vous pouvez désormais vous connecter à votre <a href="{{ absolute_url(path('app_login')) }}">compte client</a> :
				</p>
				<p align="center">
					<strong>Identifiant : </strong>{{ client.email }}<br>
					<strong>Mot de passe : </strong>{{ mdp }}
				</p>
				<p>
					Visa-en-ligne vous souhaite une excellente journée.
				</p>
				<p>
					<strong>Visa-en-ligne</strong>
				</p>
			</td>
		</tr>
	</table>
{% endblock %}